#############################################################################
# Spring Config                                                             #
#############################################################################
spring:
   # DataSource Config Setting
   datasource:
      driver-class-name: oracle.jdbc.driver.OracleDriver
      url: jdbc:oracle:thin:@localhost:1521/orcl
      user-name: 'CHAT'
      password: 'CHAT'
   
   # JPA Config Setting
   jpa:
      hibernate:
         ddl-auto: update
      generate-ddl: false
      show-sql: true
      database: oracle
      database-platform: org.hibernate.dialect.Oracle12cDialect
      properties:
         hibernate.format_sql: true
         hibernate.enable_lazy_load_no_trans: true
   # Http Config Setting
   http:
      encoding:
         charset: UTF-8
         enabled: true
         
   # DevTools Setting : 소스 수정시 자동 반영
   devtools:
      livereload:
         enabled: true
   
   # Session Config Setting
   session:
      store-type: redis
      redis:
         cleanup-cron: '* */5 * * * *' # 매 5분마다 레디스 clean
         flush-mode: immediate         # on-save : 호출될 때만 기록, immediate : 즉시 기록
         namespace: 'chat:session'
         
   # Redis Config Setting
   redis:
      host: localhost
      port: 6379
#      cluster:
#         node: a,b,c,d,e,f
      ssl: false
      lettuce:
         pool:
            max-active: 10
            max-idle: 10
            min-idle: 2
                  
#############################################################################
# logging Config                                                            #
#############################################################################
logging:
   level:
      org.hibernate: info
      
#############################################################################
# Server Config                                                             #
#############################################################################
server:
   port: 9443