<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Main</title>
        <!-- 공통 컴포넌트 관련파일 include -->
		<th:block th:include="fragments/headerinc"></th:block>
		<!-- 해당 화면 script파일 include -->
		<script src="/web/main/js/main.js"></script>
    </head>
    <body class="sb-nav-fixed">
        <div id="layoutSidenav">
            <th:block th:include="common/sidebar"></th:block>
            <div id="layoutSidenav_content">
                <main style="height:100%;">
                	<iframe src="/chat/web/signup" frameborder="0" width="100%" style="height:100%;"></iframe>
                </main>
                <th:block th:include="common/footer"></th:block>
            </div>
        </div>
    </body>
</html>
